<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<%= link_to 'Clipper Bookmarklet', 
            "javascript:(function(){ 
              alert('hello');
            })();" 
%>

<p>Drag the above button to your browser’s Bookmarks Toolbar.</p> 
